/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

div{
    background-color: beige;
    border: 2px solid black;
    margin: 2%;
    padding: 5%;
    font-size: 24px;
}
header {
    background-color: blanchedalmond;
}